<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/xlabsnotify/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/xlabsnotify/css/example.css') }}" />
    {% endblock stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block head %}
        {% block jquery %}
            <script src="{{ asset('bundles/xlabsnotify/js/jquery.1.9.1.js') }}"></script>
        {% endblock jquery %}

        <script type="text/javascript">
            //auto expand textarea
            function adjust_textarea(h) {
                h.style.height = "20px";
                h.style.height = (h.scrollHeight)+"px";
            }
        </script>
    {% endblock head %}
</head>
<body>
{% block body %}
    {% if isMMAdmin() %}
        {% block header %}
            <div class="navbar">
                {% if app.user %}
                    <div style="float: right; margin-right: 300px;">
                        <i class="fa fa-sign-out" aria-hidden="true"></i><a class="nav_link" href="{{ path('fos_user_security_logout') }}" style="line-height: 30px;">Log out</a>
                    </div>
                    <div style="float: right; margin-right: 60px;">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <span style="line-height: 30px;">Logged in as <b>{{ app.user.username }}</b></span>
                    </div>

                    {% embed 'XLabsMMAdminBundle:MMAdmin:container.html.twig' with {
                        'userSwitch': true,
                        'accountStatus': true
                    } %}
                        {% block _xlabs_mmadmin_custom %}{% endblock _xlabs_mmadmin_custom %}
                    {% endembed %}
                {% else %}
                    <div style="float: right; margin-right: 300px;">
                        <i class="fa fa-sign-in" aria-hidden="true"></i><a class="nav_link" href="{{ path('fos_user_security_login') }}" style="line-height: 30px;">Log in</a>
                    </div>
                {% endif %}
            </div>
        {% endblock header %}

        {% block content %}
            {% include 'XLabsNotifyBundle:Notifier:notifications.html.twig' with {
                'max_results': 1
            } %}
            <div class="wrapper">
                <div class="form" style="margin: 10px auto 0;">
                    <ul>
                        <li style="border: 1px solid #DDDDDD;">
                            <label for="active_users">Online users:</label>
                            <select id="active_users">
                                <option value="0" selected="selected">-- everybody --</option>
                            </select>
                            <span>Destinatary</span>
                        </li>
                    </ul>
                </div>
                <div class="form_container">
                    <form class="form" style="padding-top: 0;">
                        <ul>
                            <li style="margin-bottom: 60px;">
                                <label for=""></label>
                                <input class="custom" type="button" value="Send custom message" >
                                <span>Customized message with callback (check console log)</span>
                            </li>
                            <li>
                                <label for="title">Title</label>
                                <input type="text" id="title" name="title" maxlength="">
                                <span>Notification title</span>
                            </li>
                            <li>
                                <label for="msg">Message</label>
                                <textarea id="msg" name="msg" onkeyup="adjust_textarea(this)"></textarea>
                                <span>Notification body</span>
                            </li>
                            <li>
                                <label for="link">Link</label>
                                <input type="text" id="link" name="link" maxlength="">
                                <span>Notification link upon click</span>
                            </li>
                            <li style="margin-bottom: 8px;">
                                <label for="icon">Icon</label>
                                <br />
                                <input type="radio" id="icon1" name="icon" data-src="/bundles/xlabsnotify/xlabs.png" class="input-hidden" checked="checked" />
                                <label class="img_radio" for="icon1">
                                    <img src="/bundles/xlabsnotify/xlabs.png" alt="" />
                                </label>
                                <input type="radio" id="icon2" name="icon" data-src="/bf.png" class="input-hidden" />
                                <label class="img_radio" for="icon2">
                                    <img src="/bf.png" alt="" />
                                </label>
                                <br /><br />
                                <span>Notification thumbnail</span>
                            </li>
                            <li>
                                <label for="fadeout_ms">Fade out (ms)</label>
                                <input type="text" id="fadeout_ms" name="fadeout_ms" maxlength="" value="3500" />
                                <span>Notification remove after ... ms</span>
                            </li>
                            <li>
                                <label class="img_checkbox control control--checkbox">Mute
                                    <input type="checkbox" id="mute" />
                                    <div class="control__indicator"></div>
                                </label>
                                <span>Notification sound</span>
                            </li>
                            <li>
                                <input class="send" type="button" value="Send Notification" >
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="form_container" style="border-left: 2px dashed #efefef;">
                    <form class="form" style="padding-top: 0;">
                        <ul>
                            <li style="margin-bottom: 60px;">
                                <label for=""></label>
                                <input class="speak" type="button" value="Speak it" >
                                <span>Speech</span>
                            </li>
                            <li>
                                <label for="title">Sound file to play</label>
                                <br />
                                <label class="img_checkbox control control--radio">Arpeggio
                                    <input type="radio" name="sound" value="/bundles/xlabsnotify/sound/arpeggio.mp3" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="img_checkbox control control--radio">Birdie
                                    <input type="radio" name="sound" value="/bundles/xlabsnotify/sound/birdie.mp3" />
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="img_checkbox control control--radio">Microwaves
                                    <input type="radio" name="sound" value="/bundles/xlabsnotify/sound/claim_user_attention.mp3" />
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="img_checkbox control control--radio">Pop
                                    <input type="radio" name="sound" value="/bundles/xlabsnotify/sound/message.mp3" />
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="img_checkbox control control--radio">Purchase
                                    <input type="radio" name="sound" value="/bundles/xlabsnotify/sound/money_coming_in.mp3" />
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="img_checkbox control control--radio">Message
                                    <input type="radio" name="sound" value="/bundles/xlabsnotify/sound/message_coming_in.mp3" />
                                    <div class="control__indicator"></div>
                                </label>
                                <label class="img_checkbox control control--radio">Award
                                    <input type="radio" name="sound" value="/bundles/xlabsnotify/sound/winner.mp3" />
                                    <div class="control__indicator"></div>
                                </label>
                                <input type="text" id="title" name="title" maxlength="">
                                <span>Pick a sound</span>
                            </li>
                            <li>
                                <input class="play" type="button" value="Play it" >
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        {% endblock content %}
    {% else %}
        <div class="form">
            <img src="/bundles/xlabsnotify/logo.png" />
        </div>
    {% endif %}

    {{ render(controller('XLabsNotifyBundle:Notifier:loader')) }}
{% endblock body %}

{% block javascripts %}
    {% if isMMAdmin() %}
        <script>
            $('input.send').click(function(e){
                e.preventDefault();
                var destinatary_id = $('select#active_users').val();
                xlabs_notify.liveNotification({
                    destinatary_id: destinatary_id > 0 ? destinatary_id : false,
                    title: $('input#title').val(),
                    msg: $('textarea#msg').val(),
                    icon: $('input[name="icon"]:checked').attr('data-src'),
                    muted: $('input#mute').is(':checked'),
                    link: !$('input#link').val() ? false : $('input#link').val(),
                    sound: $('input[name="sound"]:checked').val(),
                    fadeout_after_ms: !$('input#fadeout_ms').val() ? false : $('input#fadeout_ms').val()
                });
            });

            $('input.play').click(function(e){
                e.preventDefault();
                var destinatary_id = $('select#active_users').val();
                xlabs_notify.liveSound({
                    destinatary_id: destinatary_id > 0 ? destinatary_id : false,
                    file: $('input[name="sound"]:checked').val()
                });
            });

            $('input.speak').click(function(e){
                e.preventDefault();
                var destinatary_id = $('select#active_users').val();
                var text = prompt("Enter text to speak", "");
                if(text != null) {
                    xlabs_notify.liveSpeak({
                        destinatary_id: destinatary_id > 0 ? destinatary_id : false,
                        text: text
                    });
                }
            });

            $('input.custom').click(function(e){
                e.preventDefault();
                var destinatary_id = $('select#active_users').val();
                xlabs_notify.customMessage({
                    destinatary_id: destinatary_id > 0 ? destinatary_id : false,
                    callback: "myCallback",
                    param1: 1,
                    param2: "test param",
                    param3: "test param",
                    param_link: 'https://www.google.com'
                });
            });
            function myCallback(data)
            {
                console.log(data);
            }

            /*function myOnClickNotification()
            {
                window.open(data.notification_link, '_blank').focus();
            }*/

            // Refresh users
            {% if app.user %}
                setInterval(updateUserList, 5000);
                function updateUserList()
                {
                    var select = $('select#active_users');
                    var active_users_ids = ['0'];
                    // Add active
                    $.each(xlabs_notify.activeUsers, function(i, v){
                        if(!select.find('option[value="' + v.id + '"]').length)
                        {
                            select.append($('<option value="' + v.id + '">' + v.username + '</option>'));
                        }
                        active_users_ids.push(v.id);
                    });
                    // Remove inactive
                    $("select#active_users > option").each(function(){
                        if($.inArray($(this).attr('value'), active_users_ids) < 0)
                        {
                            $(this).remove();
                        }
                    });
                }
            {% endif %}
        </script>
    {% endif %}
{% endblock javascripts %}
</body>
</html>