body {padding: 0; margin: 0;}

.navbar {background-color: #f0f0f0; width: 100%; height: 30px; font-family: Arial, Helvetica, sans-serif; font-size: 13px;}
.navbar .fa {margin-right: 5px; font-size: 19px;}
.navbar a.nav_link {
    position: relative;
    color: #888888;
    text-decoration: none;
}

.wrapper {width: 1000px; margin: 30px auto; display: block; text-align:center;}
.wrapper .form_container {display: inline-block; max-width: 400px; background: #fff; border-radius: 2px; padding: 20px; margin-right: 35px; vertical-align: top;}

/* FORM */
.form{
    width:400px;
    margin:10px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.form ul{
    list-style:none;
    padding:0;
    margin:0;
}
.form li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.form li > label:not(.img_radio):not(.img_checkbox){
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="password"],
.form textarea,
.form select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    /*font-size: 16px;*/
    padding: 0;
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form input[type="password"]:focus,
.form textarea:focus,
.form select:focus
{
}
.form li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.form textarea{
    resize:none;
}
.form input[type="submit"],
.form input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
    margin-bottom: 10px;
}
.form input[type="submit"]:hover,
.form input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}
/* END FORM */

/* Checkboxes / Radios */
.control {
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 24px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
}
.control--radio .control__indicator {
    border-radius: 50%;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}
/* Checked state */
.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}
/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}
/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}
/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}
/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}
/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}
/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
/* Radio button inner circle */
.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}
/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}
/* END Ceckboxes / Radios */

.img_radio {
    margin-right: 10px;
}
.img_checkbox {
    width: 30px!important;
}
.input-hidden {
    position: absolute;
    left: -9999px;
}
input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
}
/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
    border: 1px dashed #444;
    width: 40px;
    height: 40px;
    transition: 500ms all;
}
input[type=radio]:checked + label>img {
    transform:
            rotateZ(-10deg)
            rotateX(10deg);
}