<script src="{{ asset('bundles/xlabsnotify/md5.min.js') }}"></script>

<script type="text/javascript">
    var xlabs_notify = {};
    xlabs_notify.activeUsers = [];

    // Player for audio notifications
    window.addEventListener('load', function(){
        var xlabs_notification_player_wrapper = document.createElement('div');
        xlabs_notification_player_wrapper.setAttribute('id', 'xlabs_notification_player_wrapper');
        xlabs_notification_player_wrapper.innerHTML = '<audio id="xlabs_notification_player"><source id="mp3" src="" type="audio/mpeg" /><embed hidden="true" autostart="false" loop="false" src="" /></audio>';
        document.body.appendChild(xlabs_notification_player_wrapper);

        if(!xlabs_notify.socket)
        {
            console.log('Notifications server is not running');
        }
    });

    xlabs_notify.liveNotification = function(data)
    {
        data = $.extend({
            destinatary_id: false,
            title: false,
            msg: '',
            icon: false,
            muted: false,
            link: false,
            sound: false,
            fadeout_after_ms: false
            //onClick: ''
        }, data);
        data.destinatary_id = data.destinatary_id ? md5(data.destinatary_id.toString()) : false;
        'socket' in xlabs_notify && xlabs_notify.socket ? xlabs_notify.socket.emit('xlabs_notification', data) : false;
    };

    xlabs_notify.liveSound = function(data)
    {
        data = $.extend({
            destinatary_id: false,
            file: ''
        }, data);
        data.destinatary_id = data.destinatary_id ? md5(data.destinatary_id.toString()) : false;
        'socket' in xlabs_notify && xlabs_notify.socket ? xlabs_notify.socket.emit('xlabs_play_sound', data) : false;
    };

    xlabs_notify.liveSpeak = function(data)
    {
        data = $.extend({
            destinatary_id: false,
            text: 'This is an intentional sample text'
        }, data);
        data.destinatary_id = data.destinatary_id ? md5(data.destinatary_id.toString()) : false;
        'socket' in xlabs_notify && xlabs_notify.socket ? xlabs_notify.socket.emit('xlabs_speak_text', data) : false;
    };

    xlabs_notify.customMessage = function(data)
    {
        data = $.extend({
            destinatary_id: false,
            callback: ''
        }, data);
        data.destinatary_id = data.destinatary_id ? md5(data.destinatary_id.toString()) : false;
        'socket' in xlabs_notify && xlabs_notify.socket ? xlabs_notify.socket.emit('xlabs_custom_message', data) : false;
    };
</script>

{% if notifications_enabled %}
    <script type="text/javascript">
        xlabs_notify.user_id = md5('{{ app.user.id }}');
        xlabs_notify.db_id = '{{ app.user.id }}';
        xlabs_notify.username = '{{ app.user.username }}';
    </script>

    <script src="{{ asset('bundles/xlabsnotify/socket.io-1.3.5.js') }}"></script>

    <script type="text/javascript">
        xlabs_notify.socket = io('{{ config.schema }}://{{ config.host }}:{{ config.port }}', {secure: true});

        {% set userAvatar = '' %}
        xlabs_notify.userData = {
            'id': xlabs_notify.user_id,
            'db_id': xlabs_notify.db_id,
            'username': xlabs_notify.username,
            'avatar': '{{ userAvatar }}'
        };

        // Actions
        xlabs_notify.socket.emit('xlabs_login', xlabs_notify.userData);

        // Listeners
        xlabs_notify.socket.on('xlabs_refresh_users', function(data){
            xlabs_notify.activeUsers = data.users;
            //console.log('Total logged in users:' + Object.keys(xlabs_notify.activeUsers).length);
        });
        xlabs_notify.socket.on('xlabs_notification', function(data){
            showNotification(data);
        });
        xlabs_notify.socket.on('xlabs_play_sound', function(data){
            playNotificationSound(data.file);
        });
        xlabs_notify.socket.on('xlabs_speak_text', function(data){
            speakText(data.text);
        });
        xlabs_notify.socket.on('xlabs_custom_message', function(data){
            if(typeof window[data.callback] === "function"){
                var callback = data.callback;
                if('destinatary_id' in data) delete data['destinatary_id'];
                if('callback' in data) delete data['callback'];
                window[callback](data);
            }
        });

        // HTML5 Notifications
        xlabs_notify.Notification = window.Notification || window.mozNotification || window.webkitNotification;
        xlabs_notify.delayTimeout = 0;
        xlabs_notify.Notification.requestPermission(function(permission) {
            // console.log(permission);
        });

        const PERMISSION_DEFAULT = "default",
            PERMISSION_GRANTED = "granted",
            PERMISSION_DENIED = "denied",
            PERMISSION = [PERMISSION_GRANTED, PERMISSION_DEFAULT, PERMISSION_DENIED];

        function checkPermission()
        {
            var permission = PERMISSION_DENIED;
            if(window.webkitNotifications && window.webkitNotifications.checkPermission){
                permission = PERMISSION[window.webkitNotifications.checkPermission()];
            } else {
                if (navigator.mozNotification) {
                    permission = PERMISSION_GRANTED;
                } else {
                    if (window.Notification && window.Notification.permission) {
                        permission = window.Notification.permission;
                    }
                }
            }
            return permission;
        }

        function showNotification(data)
        {
            if(checkPermission() === PERMISSION_GRANTED)
            {
                window.setTimeout(function(){
                    var instance = new xlabs_notify.Notification(
                        data.title ? data.title : "XLabs Notification", {
                            body: '' + data.msg,
                            dir: 'auto',
                            //tag: 'random_id_',
                            icon: (data.icon && data.icon != '') ? data.icon : "{{ app.request.getUriForPath('') ~ asset('/bundles/xlabsnotify/xlabs.png') }}"
                        }
                    );

                    instance.onclick = function() {
                        if(data.link)
                        {
                            var new_tab = window.open(data.link, '_blank');
                            new_tab.focus();
                        }
                        /*if(data.onClick !== undefined && window[data.onClick] === "function")
                        {
                            var onClick = data.onClick;
                            if('destinatary_id' in data) delete data['destinatary_id'];
                            if('onClick' in data) delete data['onClick'];
                            window[onClick](data);
                        }*/
                    };
                    instance.onerror = function() {
                        // Something to do
                    };
                    instance.onshow = function() {
                        // Notification sound
                        if(!data.muted)
                        {
                            playNotificationSound(data.sound ? data.sound : '/bundles/xlabsnotify/sound/arpeggio.mp3');
                        }
                    };
                    instance.onclose = function() {
                        // Something to do
                    };
                    if(data.fadeout_after_ms)
                    {
                        setTimeout(instance.close.bind(instance), data.fadeout_after_ms);
                    }
                }, xlabs_notify.delayTimeout);
            }
            return false;
        }

        function playNotificationSound(file)
        {
            var player = $('audio#xlabs_notification_player');
            player.find('source#mp3').attr('src', file);
            //player.find('source#ogg').attr('src', notification_sound[notification_sound_key].ogg);
            player.find('embed').attr('src', file);
            player[0].load();
            player[0].play();
        }

        /* Speech API - Speak stuff */
        function speakText(text)
        {
            //console.log(voices); // check available voices
            var synth = window.speechSynthesis;
            if(typeof synth === 'undefined') {
                return;
            }
            var voices = synth.getVoices();
            var utterThis = new SpeechSynthesisUtterance(text);
            for(i = 0; i < voices.length ; i++) {
                //if(voices[i].lang === 'es-ES') {
                if(voices[i].lang === 'en-US') {
                    utterThis.voice = voices[i];
                }
            }
            utterThis.pitch = 1.2; // value between 0-2
            utterThis.rate = 1; // value between 0-2
            synth.speak(utterThis);
        }
    </script>
{% endif %}