<div id="xlabs_notifications_container"></div>

<script type="text/javascript">
    function xlabs_notifications_show(max_results, page)
    {
        var req = new XMLHttpRequest();
        req.open('POST', '{{ path('x_labs_notifications') }}', true);
        req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
        req.onreadystatechange = function() {
            switch(true)
            {
                case req.readyState < 4:
                    // Loading
                    break;
                case req.readyState == 4:
                    if(req.status == 200 && req.status < 300) // http status between 200 to 299 are all successful
                    {
                        document.getElementById('xlabs_notifications_container').innerHTML = req.responseText;

                        // Pagination
                        var pagination_buttons = document.getElementById('xlabs_notifications_container').querySelectorAll('[data-page]');
                        for(var i = 0, len = pagination_buttons.length; i < len; i++) {
                            pagination_buttons[i].addEventListener("click", function(){
                                var elem = this;
                                xlabs_notifications_show('{{ max_results is defined ? max_results : 'false' }}', elem.getAttribute('data-page'));
                            });
                        }

                        // Delete notification
                        //var delete_notification_buttons = document.getElementById('xlabs_notifications_container').querySelectorAll('[data-xlabs-notify-remove]');
                        var delete_notification_buttons = document.querySelectorAll('[data-xlabs-notify-remove]');
                        for(var i = 0, len = delete_notification_buttons.length; i < len; i++) {
                            delete_notification_buttons[i].addEventListener("click", function(){
                                var elem = this;
                                deleteNotification(elem);
                            });
                        }

                        // Mark as read
                        var notification_onClick = document.getElementById('xlabs_notifications_container').querySelectorAll('[data-xlabs-notify-markAsRead]');
                        for(var i = 0, len = notification_onClick.length; i < len; i++) {
                            notification_onClick[i].addEventListener("click", function(){
                                var elem = this;
                                markAsRead(elem);
                            });
                        }
                    }
                    break;
                default:
                    // Unable to post data
                    console.log('XLabs Notifications: Unable to post data');
                    break;
            }
        };
        req.send(JSON.stringify({
            'max_results': max_results,
            'page': page
        }));
    }

    function deleteNotification(elem)
    {
        var req = new XMLHttpRequest();
        req.open('POST', '{{ path('x_labs_notification_remove') }}', true);
        req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
        req.onreadystatechange = function() {
            switch(true)
            {
                case req.readyState < 4:
                    // Loading
                    break;
                case req.readyState == 4:
                    if(req.status == 200 && req.status < 300) // http status between 200 to 299 are all successful
                    {
                        var custom_callback = elem.getAttribute('data-xlabs-callback');
                        try {
                            custom_callback = eval(custom_callback);
                            if(typeof custom_callback == 'function')
                            {
                                custom_callback(elem, req.responseText);
                            }
                        }
                        catch(err) {
                            console.log('XLabs Notification Remove (data-xlabs-callback): ' + err.message + '. If the it can´t find the callback function, try adding it to your HEAD section of your document.');
                        }
                    }
                    break;
                default:
                    // Unable to post data
                    console.log('XLabs Notifications: Unable to post data for removal');
                    break;
            }
        };
        req.send(JSON.stringify({
            'notification_id': elem.getAttribute('data-xlabs-notify-remove')
        }));
    }

    function markAsRead(elem)
    {
        if((typeof navigator.sendBeacon == 'function') && navigator.sendBeacon('{{ path('x_labs_notification_markAsRead') }}', JSON.stringify({ 'notification_id': elem.getAttribute('data-xlabs-notify-markAsRead') })))
        {
            var custom_callback = elem.getAttribute('data-xlabs-callback');
            try {
                custom_callback = eval(custom_callback);
                if(typeof custom_callback == 'function')
                {
                    custom_callback(elem);
                }
            }
            catch(err) {
                console.log('XLabs Notification MarkAsRead (data-xlabs-callback): ' + err.message + '. If the it can´t find the callback function, try adding it to your HEAD section of your document.');
            }
        } else {
            var req = new XMLHttpRequest();
            req.open('POST', '{{ path('x_labs_notification_markAsRead') }}', true);
            req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
            req.onreadystatechange = function() {
                switch(true)
                {
                    case req.readyState < 4:
                        // Loading
                        break;
                    case req.readyState == 4:
                        if(req.status == 200 && req.status < 300) // http status between 200 to 299 are all successful
                        {
                            var custom_callback = elem.getAttribute('data-xlabs-callback');
                            try {
                                custom_callback = eval(custom_callback);
                                if(typeof custom_callback == 'function')
                                {
                                    custom_callback(elem, req.responseText);
                                }
                            }
                            catch(err) {
                                console.log('XLabs Notification MarkAsRead (data-xlabs-callback): ' + err.message + '. If the it can´t find the callback function, try adding it to your HEAD section of your document.');
                            }
                        }
                        break;
                    default:
                        // Unable to post data
                        console.log('XLabs Notifications: Unable to post data for removal');
                        break;
                }
            };
            req.send(JSON.stringify({
                'notification_id': elem.getAttribute('data-xlabs-notify-markAsRead')
            }));
        }
    }

    window.addEventListener('load', function() {
        xlabs_notifications_show('{{ max_results is defined ? max_results : 'false' }}', '{{ page is defined ? page : '1' }}');
    });
</script>